<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= filename %></title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-zinc-900 text-white">
    <div class="container mx-auto px-4 py-10 min-h-screen">
        <a class="text-blue-500 inline-block mb-10 hover:underline" href="/">Go back to home</a>
        <h1 class="text-5xl font-bold tracking-tight mb-5"><%= filename %></h1>
        <p class="text-xl mt-5 font-light whitespace-pre-wrap"><%= filedata %></p>
    </div>
</body>
</html>
